{% extends 'IbtikarTaniaModelBundle::emailsLayout.html.twig' %}
{% block content %}
    <p>{{ 'Dear' | trans({}, "email") }} {{ user.fullName }};</p>
    <p>
        {{ 'Please verify your email by clicking on the following link:' | trans({}, "email") }}<br>
        <a href="{{ url('ibtikar_share_economy_ums_verify_email', {'email':user.email, 'token':user.emailVerificationToken}) }}">
            {{ url('ibtikar_share_economy_ums_verify_email', {'email':user.email, 'token':user.emailVerificationToken}) }}
        </a>
    </p>
{% endblock %}